$background: lightgray;

body {
  background: $background;
}

h1 {
  color: red;
}

p {
  color: blue;
}

.main-button {
  min-width: 7em;
  height: 2.2em;
  background: #89fffd;
  margin: 10px;
  font-size: 15px;
  border-radius: 5px;
}
